<!-- Applications list with models. -->

<%
  page_title = Typus::I18n.t("Applications")
%>

<%
  applications = admin_user.applications

  # Detect if we are inside an application.
  if (application = params[:application])
    applications.each do |app|
      if app.parameterize == application
        applications = [app]
      end
    end
    page_title = applications.first
  end
%>

<h2><%= page_title %></h2>

<% if applications.any? %>
  <% applications.each do |app| %>

    <ul class="nav nav-list">

      <% table_header = application ? "Models" : app %>

      <li class="nav-header"><%= Typus::I18n.t(table_header) %></li>

      <% admin_user.application(app).map(&:constantize).each do |klass| %>
        <% if klass.typus_options_for(:hide_from_dashboard) == false %>
          <li>
              <%= link_to klass.model_name.human.pluralize, :controller => "/admin/#{klass.to_resource}" %>
            </li>
        <% end %>
      <% end %>

    </ul>

  <% end %>
<% else %>
  <div class="notice">
    No applications detected.
  </div>
<% end %>
